<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/qfc-dark.css">
  <!-- <link rel="stylesheet" href="qfc-light.css"> -->
      <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Aerothon</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/news">News</a></li> -->
          <li><a href="/data">A320</a></li>
          <!-- <li><a href="#too">Button2</a></li> -->
          <li><a href="/data/a330">A330</a></li>
          <li><a href="/data/a350">A350</a></li>
          <li><a href="/data/search">Search</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="qfc-container">
    <h2>A320</h2>
    <label>Please enter the details below.</label>
    <form id="form1" onsubmit="myFunction()" action="/submitted" method="post">
      <div>
        <div>
            <!-- <input placeholder="Full Name" type="text" > -->
            <input placeholder="MSN" type="number" min="0" max="99999" >
        </div>
        <div>
            <input placeholder="Harness Length" type="number" >
        </div>
        <div>
            <input placeholder="Gross Weight" type="number" >
        </div>
        <div>
            <input placeholder="Atmospheric Pressure" type="number" >
        </div>
        <div>
            <input placeholder="Room Temperature" type="number" >
        </div>
        <div>
          <label>Your City (single-select)</label>
          <select id>
                        <option disabled selected value="--">Airport</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Kolkata">Kolkata</option>
                    </select>
        </div>
        <div>
            <input placeholder="Fuel Capacity on Left Wing" type="number" >
        </div>
        <div>
            <input placeholder="Fuel Capacity on Right Wing" type="number" >
        </div>
        <div>
            <input placeholder="Fuel Quantity on Left Wing" type="number" >
        </div>
        <div>
            <input placeholder="Fuel Quantity on Right Wing" type="number" >
        </div>
        <div>
            <input placeholder="Maximum Altitude to be Reached" type="number" >
        </div>
        <div>
            <input placeholder="Flight no." type="text" >
        </div>
        <!-- <div>
          <label>Gender</label>
          <div>
            <label>
                            <input type="radio" name="set_1" checked="checked">Male
                        </label>
          </div>
          <div>
            <label>
                            <input type="radio" name="set_1">Female
                        </label>
          </div>
        </div>
        <div>
          <div>
            <input type="checkbox" checked="checked">
            <label>Do you love this form?</label>
          </div>
        </div>
        <div>
          <label>Your City (single-select)</label>
          <select id>
                        <option disabled selected value="--">Select Your City</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Kolkata">Kolkata</option>
                    </select>
        </div>
        <div>
          <label>Favourite Foods (multi-select)</label>
          <select multiple>
                        <option value="Cheese">Cheese</option>
                        <option value="Bacon">Bacon</option>
                        <option value="Pasta">Pasta</option>
                        <option value="Pizza">Pizza</option>
                    </select>
        </div>
        <div>
          <label>Message (textarea)</label>
          <div>
            <textarea placeholder="Eg. Enter your messages here"></textarea>
          </div>
        </div>
        <div>
          <label>Attach file</label>
          <div>
            <input type="file" id>
          </div>
        </div> -->
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <script src="js/submits.js"></script>
</body>
<!-- <div style="padding-bottom:15px; font-family: 'Roboto';color:white;" align="center">
  made with <span style="color:#e25555;">❤</span> by <a target="_blank" href="https://twitter.com/siwalik">@siwalik</a> and the <a target="_blank" href="https://github.com/siwalikm/quick-form-css/graphs/contributors">internet</a></div> -->
<!--
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
-->
</html>
